@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la Boletería de la Bichota</h1>
    <p>En este aplicativo podrás validar las boletas para el concierto de La Bichota</p>
</div>
